header{
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbar{
    justify-content: space-evenly;
    display: flex;
}
.navBut{
    color: cornflowerblue;
    text-decoration: none;
    font-size: 17px;
    transition: ease 500ms;
}

.navBut:hover{
    font-size: 20px;
    transition: ease 500ms;
}

h2{
    font-size: 20px;
    text-decoration: none;
}

.proj-link{
    width: 300px;
    height: auto;
    justify-content: flex-start;
}

body{
    /* border: 5px solid red; */
    margin: 5px ;
    padding: 5px;
    /* background-image: url(''); */
}

.section{
    width: 600px;
    padding: 5px;
}

hr{
    width: 300px;
}

#Annotation{
    justify-content: center;
    height: auto;
    width: 150px;
    border: 5px;
    transition: ease 1s;
}

#Annotation:hover{
    width: 200px;
    height: auto;
    transition: ease 1s;
}

.home-page, 
.past-work{
    background-color: #401b46;
    color: cornflowerblue;
}