header{
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content:end;
    padding: 2px;
    margin: 2px;
    
}

.contacts{
    text-decoration: none;
}